/* 全局 */
body{background-color:#fefefe;}
body,input,botton,textarea{ font-family:"微软雅黑",Arial, Helvetica, sans-serif;font-size:14px;}
.container-fluid{margin-top:50px;}
.container{margin-left:20px;margin-right:20px;font-size:14px;}
.hide{overflow:hidden}
/* 通知 */
#notic{margin:0 5px 10px;position:relative;font-size:14px;}

/* 二级菜单 *//*
.subnav{background-color:#f1f1f1;border-bottom:1px solid #ddd; margin:10px 5px 5px; }
.subnav .nav{margin-bottom:0;}
.subnav h4{margin:0;padding:5px;padding-left:12px;font-size:16px;}
.subnav h4 span{font-size:12px;font-weight:400;padding-left:15px;}
.subnav h4 span b{color:#900;font-weight:700;font-size:16px;}
.subnav h4 .btn{font-size:12px;margin-left:10px;}
.subnav .nav .cur{font-size:14px;font-weight:700}
.subnav .nav .cur a{color:#333}*/
.subnav-fixed{
padding: 5px 50px;
margin-left: 0;
background: #;
border: 1px solid #E3E3E3;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);}
.subnav-fixed>ul{margin: 0}
/* 作品提交 *//*
.submitArea{overflow:hidden;text-align:center;vertical-align:middle;padding:10px 0; margin:0 5px 0;}
.submitArea .input-prepend{display:inline-block;margin-right:10px;vertical-align:middle}
.submitArea *{vertical-align:top}
.submitArea .input-prepend{margin-bottom:0;}
.submitArea form{margin:0;}
.submitArea .moreOpts{vertical-align:middle;display:inline-block;margin-left:10px;}
.submitArea .inner{width:1000px;margin:0 auto;}
.submitArea .zpSubmit{float:left;}
.submitArea .zpSearch{float:right;}
.submitArea.well form {margin-bottom: 0;}*/

.submitArea .btn-wrap .row-fluid{
  text-align: center;
}
.submitArea .btn-wrap .moreOpts.span4{
  min-width: 56px;
  line-height: 30px;
}
.submitArea .input-append.row-fluid .span3.btn{
  float: none;
  margin-left: 0;
  padding: 0;
}
@media screen and (max-width:767px) {
   .submitArea .input-prepend .row-fluid .add-on.span4{
    width: 31.914893617021278%;
  }
  .submitArea .input-prepend .row-fluid .span8{
    width: 65.95744680851064%;
  }
  .submitArea .btn-wrap .row-fluid .span8{
    display: inline-block;
    width: 65.95744680851064%;
  }
  .submitArea .btn-wrap .row-fluid .span4{
    padding: 0;
    display: inline-block;
    width: 31.914893617021278%;
  }
  .submitArea .input-append.row-fluid .span9{
    width: 74.46808510638297%;
  }
  .submitArea .input-append.row-fluid .span3{
    padding: 0;
    width: 23.404255319148934%;
  }
}
/* 作品列表 */
.worksList .isotope{margin:0 auto;}
.worksList li{padding:0; list-style:none;position:relative;float:left;background-color:#fff;width:245px}
.worksList li.width2{width:200px;}
.worksList li.large{width: 490px;}
.worksList li.checkedN{*filter:alpha(opacity = 70);-moz-opacity:0.7;opacity:0.7;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=70)";}
.worksList li.checkedN:hover{*filter:alpha(opacity = 100);-moz-opacity:1;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=100)";}
.worksList li.checkedN:hover a.btnCheckY{font-weight:700;}
.worksList li .inner{
  padding:6px 10px 8px;
  margin: 2.5px;
  font-size:12px;
  position: relative;
  background: #888;
  color: #222;
  -webkit-border-top-right-radius: 1.2em;
  -moz-border-radius-topright: 1.2em;
  border-top-right-radius: 1.2em;
}
.worksList li .inner.growing{
  background-color: cyan;
}
.worksList li .inner.senior{
  background-color: #30F;
}
.worksList li .nodeGood{font-size:12px;color:#666;margin-left:10px;}
.worksList li .inner:hover{
  box-shadow: 1px 1px 10px #999;
}
.worksList li .pic{padding:5px 0;text-align:center;}
.worksList li .inner h5.worksTit{margin:0;padding:0;font-size:14px;padding:2px 3px;line-height:18px;position:relative;}
.worksList li .inner h5.worksTit a{color: #222;}
.worksList li .inner .label{background-color: transparent;}
.worksList li blockquote{padding:3px;line-height:20px;overflow:hidden;margin-bottom:0px;text-align:left;text-indent:0; color:#fff;border-left:0;break-word:break-all;word-wrap:break-word;table-layout:fixed;}
.worksList li .worksInfo{text-align:left;color:#777;background-color:#fefefe;padding:0 3px;overflow:hidden;zoom:1;position:relative;}
.worksList li .worksInfo .pubTime{background-color:#fff;position:absolute;right:0;top:0;color:#999}
.worksList li .worksInfo span{ white-space:nowrap;display:block;}
.worksList li .opts{padding:3px 0;margin:0;text-align:center;background-color:rgba(0,0,0,0.3);position:absolute;width:100%;top:50%;left:0;right:0;margin-top:-15px;display:none;}
.worksList li:hover .opts{display:block;}
.worksList  .zpStatus{padding:0px 3px 3px;border-bottom:1px dashed #ccc;text-align:right}
.worksList  .zpStatus a{padding:0 0 0 10px;text-decoration:underline;}
.worksList  .zpStatus a.btnGood{font-weight:700;font-size:14px;}

/* 作品查看模态 */
.viewMode{position:relative;}
.viewMode ul{width:25%;margin-left:75%;}
.viewMode li{float:none;width:100%;border-bottom:1px solid #f1f1f1}
.viewMode li.cur{background-color:#fcf8e3;}
.viewMode .worksView{position:absolute;width:75%;top:0;bottom:0;}
.viewMode .worksView  iframe{width:100%;height:100%;border:0;border-right:1% solid #f1f1f1}

/* 列表成列模式 */
/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}